.container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.button_list {
    gap: 20px;
}

.button {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

.statistics {
font-size: 20px;
}

.stat_name {
    font-size: 18px;
}

.counter_value {
    font-size: 18px;
    margin-left: 5px;
}